{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <a class="navbar-item" href="#">{{name}}</a>
{% else %}
    <a class="navbar-item" href="{{ url_for(endpoint) }}">{{name}}</a>
{% endif %}
{% endmacro %}

{% macro text_form_field(label, name) %}
<div class="field is-horizontal">
    <div class="field-label">
        <label class="label"> {{label}} </label>
    </div>
    <div class="field-body">
        <span class="control">
            <input class="input is-rounded is-small" type="text" name={{name}}>
        </span>
        
    </div>
</div>
{% endmacro %}

{% macro date_form_field(label, name) %}
<div class="field is-horizontal">
    <div class="field-label">
        <label class="label"> {{label}} </label>
    </div>
    <div class="field-body">
        <span class="control">
            <input class="input is-rounded is-small" type="date" name={{name}}>
        </span>
        
    </div>
</div>
{% endmacro %}